* {
    padding: 0;
    margin: 0;
}

:root {
    --text-shadow: 1px 1px 2px #1e1e1e, -1px -1px 2px #1e1e1e,
        0px 1px 2px #1e1e1e, 1px 0px 2px #1e1e1e;
}

.container {
    background-color: #1e1e1e;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(10vh);
    background-color: #3f3f3f;
    background: linear-gradient(
        to bottom,
        #3f3f3f 0%,
        #333333 99%,
        #2e2e2e 100%
    );
    color: #dcedfe;
    border-radius: 1em 1em 0 0;
    text-shadow: var(--text-shadow);
}

header div {
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

header div a {
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
}

header div a img {
    height: 100%;
    position: absolute;
    margin-left: 0.5em;
}

section {
    display: grid;
    background-color: #333333;
    background: linear-gradient(
        to bottom,
        #3f3f3f 0%,
        #333333 99%,
        #2e2e2e 100%
    );
    background-image: url("../images/storm.webp");
    background-size: cover;
    background-position: 50% top;
    background-repeat: no-repeat;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: calc(100vw - 2em);
    height: calc(60vh);
    justify-items: center;
    align-items: center;
    color: #dcedfe;
    text-shadow: var(--text-shadow);
    grid-gap: 2em;
    padding: 1em;
}

footer {
    width: 100vw;
    height: calc(30vh);
    background-color: #3f3f3f;
    background: linear-gradient(
        to bottom,
        #3f3f3f 0%,
        #333333 99%,
        #2e2e2e 100%
    );
    border-radius: 0 0 1em 1em;
}

video {
    width: inherit;
    height: inherit;
}

article {
    width: 100%;
    height: 100%;
    border: 2px solid #1e1e1e;
    border-radius: 1em;
    text-align: center;
    background: linear-gradient(
        to bottom,
        #3f3f3f 0%,
        #333333 99%,
        #2e2e2e 100%
    );
    mix-blend-mode: multiply;
    overflow: hidden;
    padding: 0;
    position: relative;
}

article:hover {
    background: linear-gradient(
        to bottom,
        #575757 0%,
        #353535 99%,
        #4b4b4b 100%
    );
}

article span {
    font-weight: bold;
    font-size: 1.1em;
}

.article__weather-image {
    background: url("../images/sun.png") no-repeat;
    background-size: cover;
    background-position: top center;
    background-blend-mode: soft-light;
    display: block;
    width: inherit;
    height: calc(100% - 4px);
    padding: 0;
}

.loading {
    position: fixed;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    display: none;
}
.darken {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #1e1e1e;
    opacity: 0.5;
}

.spinner {
    margin: 0px;
    padding: 0px;
    border-radius: 5em;
    width: 96px;
    height: 96px;
    border: 12px solid rgba(255, 255, 255, 0.5);
    border-top: 12px solid rgba(255, 255, 255, 1);
    animation: spin 1.5s linear infinite;
}

.article__weather-wind-deg {
    position: relative;
}

.fill-water-drop {
    text-align: center;
    position: absolute;
    top: calc(-50px);
    right: calc(50px / 2);
}

.temperature-text {
    position: absolute;
    top: 1.5em;
    right: 0.8em;
    font-size: x-large;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 640px) {
    .temperature-text {
        position: relative;
        font-size: 1em;
    }

    p[class*="article__weather"] {
        font-size: 0.5rem;
    }
}
